/* styles.css */

::-webkit-scrollbar {
    width: 15px;
    padding: 2.5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

.top-bar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #333;
    z-index: 9999999;
    -webkit-app-region: drag;
}

body {
    font-family: Lexend, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444444;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.mod {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background-color: #3f3f3fa5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    position: relative; 
}


.modContent {
    padding-top: 200px;
}


.actions {
    margin-top: 20px;
    text-align: center;
}

.actions button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Lexend, Arial, sans-serif;
}

.actions button:hover {
    background-color: #363636;
}

footer {
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    text-align: right;
    position: fixed;
    bottom: -10;
    width: 100%;
}


button {
    background-color: #333; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555; 
}

button:active{
    background-color: #1c1c1c;
}


.center {
    align-content: center;
    align-self: center;
    text-align: center;
}